body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
.app-bg {
  background-image: url("./assets/3417764.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
